<nav class="navbar navbar-light sticky-top" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
  <ul class="navbar-nav mr-auto list-unstyled">
      <li class="nav-item active" style="padding:15px;"><%= link_to 'All Events', events_path %>
      </li>
      <li class="nav-item"style="padding:15px;"><%= link_to 'Profile page', user_path(current_user) %>
      </li>

    </ul>
</nav>
<div class="container-fluid">
<div class="container" style="margin-left:380px"><h1>Create Event</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @event, url: events_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :date %>
      <%= f.date_field :date %>
      <%= f.submit "Create my event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
