<nav class="navbar navbar-light sticky-top" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
  <ul class="navbar-nav mr-auto list-unstyled">
      <li class="nav-item active" style="padding:15px;"><%= link_to 'Create a new Event', new_event_path %>
      </li>
      <li class="nav-item"style="padding:15px;"><%= link_to 'All Events', events_path %>
      </li>

    </ul>
</nav>
<div class="container-fluid">
<h1>Welcome to an event created by <%= @event.creator.name%></h1>

<h3 style="margin-left:380px">The attendees include:</h3>
<% @event.bookings.each  do |data|%>
<table class="table table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Attendee name:</th>
      <th scope="col">Attendee email:</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= data.attendee.name %></td>
      <td><%= data.attendee.email%></td>
    </tr>
  </tbody>
  
</table>
<%end%>
</div>

